[mysqld]

max_allowed_packet  = 16M
thread_stack    = 192K
thread_cache_size       = 8

secure_file_priv = {{ mysql_secure_file_priv }}

table_open_cache            = {{ table_open_cache }}
table_open_cache_instances  = {{ table_open_cache_instances }}

#thread_concurrency     = 10

#
# * Query Cache Configuration
#
query_cache_limit = 1M
query_cache_size  = 16M

innodb_log_file_size    = {{ innodb_log_file_size }}
innodb_buffer_pool_size = {{ innodb_buffer_pool_size }}
innodb_buffer_pool_instances = {{ innodb_buffer_pool_instances }}
